body{
    background-color: #ddffe7;
    text-align: center;
    font-family:sans-serif;
}

a{
    text-decoration: none;
    color:#fff;
}

button{
    border:none;
    background-color: #167d7f;
    border-radius: 1rem;
    color:#fff;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}